{
    "openapi": "3.0.0",
    "info": {
        "title": "Artly API",
        "description": "Artly 백엔드 REST API 문서",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://artly.soundgram.co.kr",
            "description": "Production"
        },
        {
            "url": "http://localhost",
            "description": "Local"
        }
    ],
    "paths": {
        "/api/announcements": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 목록 조회",
                "operationId": "dd0da6bd8ee3ee974d069597a5280c28",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "description": "공고 카테고리 (공모, 프로그램, 채용, 공지사항, FAQ)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "진행상태 (scheduled, ongoing, ended)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "정렬 (latest, ending)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "검색어 (제목 검색)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "공고 목록 조회 성공"
                    }
                }
            },
            "post": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 생성",
                "operationId": "66ada74699cd40ac219edaaf619094c1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "announcement_title": {
                                        "type": "string"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "announcement_poster": {
                                        "type": "string"
                                    },
                                    "announcement_start_datetime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "announcement_end_datetime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "announcement_organizer": {
                                        "type": "string"
                                    },
                                    "announcement_contact": {
                                        "type": "string"
                                    },
                                    "announcement_support_detail": {
                                        "type": "string"
                                    },
                                    "announcement_site_url": {
                                        "type": "string"
                                    },
                                    "announcement_attachment_url": {
                                        "type": "string"
                                    },
                                    "announcement_content": {
                                        "type": "string"
                                    },
                                    "announcement_category": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "공고 생성 완료"
                    }
                }
            }
        },
        "/api/announcements/{id}": {
            "get": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 상세 조회",
                "operationId": "9731bacdb223309c68f608c33417ef99",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "공고 ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "공고 상세 조회 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "announcement_title": {
                                            "type": "string"
                                        },
                                        "user_id": {
                                            "type": "integer"
                                        },
                                        "announcement_poster": {
                                            "type": "string"
                                        },
                                        "announcement_start_datetime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "announcement_end_datetime": {
                                            "type": "string",
                                            "format": "date-time"
                                        },
                                        "announcement_organizer": {
                                            "type": "string"
                                        },
                                        "announcement_contact": {
                                            "type": "string"
                                        },
                                        "announcement_support_detail": {
                                            "type": "string"
                                        },
                                        "announcement_site_url": {
                                            "type": "string"
                                        },
                                        "announcement_attachment_url": {
                                            "type": "string"
                                        },
                                        "announcement_content": {
                                            "type": "string"
                                        },
                                        "announcement_category": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "공고 없음"
                    }
                }
            },
            "put": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 수정",
                "operationId": "a0c6c96228fd02d434e2a1178fbb65f1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "announcement_title": {
                                        "type": "string"
                                    },
                                    "user_id": {
                                        "type": "integer"
                                    },
                                    "announcement_poster": {
                                        "type": "string"
                                    },
                                    "announcement_start_datetime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "announcement_end_datetime": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "announcement_organizer": {
                                        "type": "string"
                                    },
                                    "announcement_contact": {
                                        "type": "string"
                                    },
                                    "announcement_support_detail": {
                                        "type": "string"
                                    },
                                    "announcement_site_url": {
                                        "type": "string"
                                    },
                                    "announcement_attachment_url": {
                                        "type": "string"
                                    },
                                    "announcement_content": {
                                        "type": "string"
                                    },
                                    "announcement_category": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "공고 수정 완료"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Announcement"
                ],
                "summary": "공고 삭제",
                "operationId": "b8d9c8fe3fbd0a4b1f8fce0c706206b5",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "공고 삭제 완료"
                    }
                }
            }
        },
        "/api/arts": {
            "get": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 목록 조회",
                "operationId": "d2d79797d38f1f7b586250b4a71647f5",
                "parameters": [
                    {
                        "name": "exhibition_title",
                        "in": "query",
                        "description": "[필터] 특정 전시회 이름 (쉼표(,)로 구분하여 여러 개 검색 가능)",
                        "schema": {
                            "type": "string",
                            "example": "빛의 정원,김창열 '물방울전'"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer"
                                            },
                                            "art_title": {
                                                "type": "string"
                                            },
                                            "art_image_url": {
                                                "description": "접근 가능한 절대 URL",
                                                "type": "string"
                                            },
                                            "is_liked": {
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 등록 (multipart/form-data 업로드)",
                "operationId": "240fcd2aa18be777a4e38a39bbd536e6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "artist_id",
                                    "art_title"
                                ],
                                "properties": {
                                    "image": {
                                        "description": "작품 이미지 파일",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "artist_id": {
                                        "type": "integer"
                                    },
                                    "art_title": {
                                        "type": "string"
                                    },
                                    "art_description": {
                                        "type": "string"
                                    },
                                    "art_docent": {
                                        "type": "string"
                                    },
                                    "art_material": {
                                        "type": "string"
                                    },
                                    "art_size": {
                                        "type": "string"
                                    },
                                    "art_year": {
                                        "type": "string"
                                    },
                                    "gallery_phone": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created"
                    }
                }
            }
        },
        "/api/arts/{id}": {
            "get": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 상세 조회",
                "operationId": "6578856d0c4abf31081be8890c74428c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                }
            },
            "post": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 수정 (Method Spoofing: POST + _method=PATCH)",
                "description": "PHP의 multipart/form-data 제약으로 인해 POST로 전송하되, Body에 _method='PATCH'를 포함해야 합니다.",
                "operationId": "91ba28b082118a3f3c7cd1f605b26010",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "_method": {
                                        "description": "Method Spoofing을 위한 필수 필드",
                                        "type": "string",
                                        "default": "PATCH",
                                        "enum": [
                                            "PATCH"
                                        ]
                                    },
                                    "image": {
                                        "description": "변경할 이미지 (선택)",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "artist_id": {
                                        "description": "작가 ID (선택)",
                                        "type": "integer"
                                    },
                                    "art_title": {
                                        "description": "작품명 (선택)",
                                        "type": "string"
                                    },
                                    "art_description": {
                                        "description": "작품 설명 (선택)",
                                        "type": "string"
                                    },
                                    "art_docent": {
                                        "description": "도슨트 텍스트 (선택)",
                                        "type": "string"
                                    },
                                    "art_material": {
                                        "description": "재료 (선택)",
                                        "type": "string"
                                    },
                                    "art_size": {
                                        "description": "크기 (선택)",
                                        "type": "string"
                                    },
                                    "art_year": {
                                        "description": "제작년도 (선택)",
                                        "type": "string"
                                    },
                                    "gallery_phone": {
                                        "description": "갤러리 전화번호 (선택)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "수정 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Art updated successfully"
                                        },
                                        "data": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "작품을 찾을 수 없음"
                    },
                    "400": {
                        "description": "잘못된 요청"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Art"
                ],
                "summary": "작품 삭제",
                "operationId": "1da5bfc8c2549324916788d6c2ed34ab",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Deleted"
                    }
                }
            }
        },
        "/api/artist": {
            "get": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 목록 조회",
                "operationId": "d7880fe118fad58495299585c086b1ff",
                "parameters": [
                    {
                        "name": "category",
                        "in": "query",
                        "description": "카테고리(all | onExhibition)",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "liked_only",
                        "in": "query",
                        "description": "좋아요한 작가만",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "검색어",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "nation",
                        "in": "query",
                        "description": "국가 필터",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "decade",
                        "in": "query",
                        "description": "년도 (예: 1920년대)",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 1
                                            },
                                            "artist_name": {
                                                "type": "string",
                                                "example": "김길동"
                                            },
                                            "artist_category": {
                                                "type": "string",
                                                "example": "회화"
                                            },
                                            "artist_image": {
                                                "type": "string",
                                                "example": "https://... 또는 /media/artist/..."
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/artists/{id}": {
            "get": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 상세 조회",
                "operationId": "ecb174169178a18e7ddc7a6f945a6c96",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "artist_name": {
                                            "type": "string"
                                        },
                                        "artist_category": {
                                            "type": "string"
                                        },
                                        "artist_image": {
                                            "type": "string"
                                        },
                                        "artist_nation": {
                                            "type": "string"
                                        },
                                        "artist_description": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 수정",
                "operationId": "23969d6de6a813f180f709d0c9bb4046",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "artist_name": {
                                        "type": "string"
                                    },
                                    "artist_category": {
                                        "type": "string"
                                    },
                                    "artist_nation": {
                                        "type": "string"
                                    },
                                    "artist_description": {
                                        "type": "string"
                                    },
                                    "artist_image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "artist_image_url": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "작가 수정 완료"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 삭제",
                "operationId": "2b53b71b5d03914f03797430dca2dcef",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "작가 삭제 완료"
                    }
                }
            }
        },
        "/api/artists": {
            "post": {
                "tags": [
                    "Artist"
                ],
                "summary": "작가 생성",
                "operationId": "b8c27b9208ea2bbf7abd765e19c10384",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "artist_name": {
                                        "type": "string"
                                    },
                                    "artist_category": {
                                        "type": "string"
                                    },
                                    "artist_nation": {
                                        "type": "string"
                                    },
                                    "artist_description": {
                                        "type": "string"
                                    },
                                    "artist_image": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "artist_image_url": {
                                        "description": "외부 이미지 URL",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "작가 생성 완료"
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "로그인",
                "operationId": "7e8d1cdd0a10b6038f92c41d77a0684f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "login_id": {
                                        "type": "string",
                                        "example": "test1"
                                    },
                                    "login_pwd": {
                                        "type": "string",
                                        "example": "test1"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "로그인 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "jwt": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "login_id": {
                                                    "type": "string"
                                                },
                                                "login_pwd": {
                                                    "type": "string"
                                                },
                                                "user_name": {
                                                    "type": "string"
                                                },
                                                "user_gender": {
                                                    "type": "string"
                                                },
                                                "user_age": {
                                                    "type": "integer"
                                                },
                                                "user_email": {
                                                    "type": "string"
                                                },
                                                "user_phone": {
                                                    "type": "string"
                                                },
                                                "user_img": {
                                                    "type": "string"
                                                },
                                                "user_keyword": {
                                                    "type": "string"
                                                },
                                                "admin_flag": {
                                                    "type": "integer"
                                                },
                                                "gallery_id": {
                                                    "type": "integer"
                                                },
                                                "last_login_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "reg_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dttm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "로그인 실패"
                    }
                }
            }
        },
        "/api/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "회원가입",
                "operationId": "52943547effd550959f0546e8b3fb829",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "login_id": {
                                        "type": "string"
                                    },
                                    "login_pwd": {
                                        "type": "string"
                                    },
                                    "user_name": {
                                        "type": "string"
                                    },
                                    "user_gender": {
                                        "type": "string"
                                    },
                                    "user_age": {
                                        "type": "integer"
                                    },
                                    "user_email": {
                                        "type": "string"
                                    },
                                    "user_phone": {
                                        "type": "string"
                                    },
                                    "user_img": {
                                        "type": "string"
                                    },
                                    "user_keyword": {
                                        "type": "string"
                                    },
                                    "admin_flag": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "회원가입 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "jwt": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "login_id": {
                                                    "type": "string"
                                                },
                                                "login_pwd": {
                                                    "type": "string"
                                                },
                                                "user_name": {
                                                    "type": "string"
                                                },
                                                "user_gender": {
                                                    "type": "string"
                                                },
                                                "user_age": {
                                                    "type": "integer"
                                                },
                                                "user_email": {
                                                    "type": "string"
                                                },
                                                "user_phone": {
                                                    "type": "string"
                                                },
                                                "user_img": {
                                                    "type": "string"
                                                },
                                                "user_keyword": {
                                                    "type": "string"
                                                },
                                                "admin_flag": {
                                                    "type": "integer"
                                                },
                                                "last_login_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "reg_time": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dttm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "회원가입 실패"
                    }
                }
            }
        },
        "/api/books/{id}": {
            "get": {
                "tags": [
                    "Book"
                ],
                "summary": "도록 상세 조회",
                "operationId": "d0cdb2c8b40f41e1b52fdaf16ddace44",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "book": {
                                            "properties": {
                                                "book": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "book_title": {
                                                            "type": "string"
                                                        },
                                                        "book_poster": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "exhibition": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "exhibition_title": {
                                                            "type": "string"
                                                        },
                                                        "exhibition_start_date": {
                                                            "type": "string",
                                                            "format": "date"
                                                        },
                                                        "exhibition_end_date": {
                                                            "type": "string",
                                                            "format": "date"
                                                        },
                                                        "exhibition_location": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "gallery": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "gallery_name": {
                                                            "type": "string"
                                                        },
                                                        "gallery_latitude": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "nullable": true
                                                        },
                                                        "gallery_longitude": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "nullable": true
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "book_pages": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "book_id": {
                                                        "type": "integer"
                                                    },
                                                    "art_id": {
                                                        "type": "integer"
                                                    },
                                                    "book_page_sequence": {
                                                        "type": "integer"
                                                    },
                                                    "book_page_description": {
                                                        "type": "string"
                                                    },
                                                    "create_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "update_dttm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "도록 없음"
                    }
                }
            },
            "put": {
                "tags": [
                    "Book"
                ],
                "summary": "도록 수정",
                "operationId": "884f6cf493d19c8b68c54957c48baf60",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "book_title": {
                                        "type": "string"
                                    },
                                    "book_poster": {
                                        "type": "string"
                                    },
                                    "exhibition_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "수정 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "book_title": {
                                                    "type": "string"
                                                },
                                                "book_poster": {
                                                    "type": "string"
                                                },
                                                "exhibition_id": {
                                                    "type": "integer"
                                                },
                                                "create_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "도록 없음"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Book"
                ],
                "summary": "도록 삭제",
                "operationId": "ebd496572b00c2b7af849b0551c5eff3",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "삭제 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "도록 없음 또는 삭제 실패"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/books": {
            "post": {
                "tags": [
                    "Book"
                ],
                "summary": "도록 등록",
                "operationId": "76ea4bb15d7c30d133c8c08fbc1b3d42",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "book_title": {
                                        "type": "string"
                                    },
                                    "book_poster": {
                                        "type": "string"
                                    },
                                    "exhibition_id": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "등록 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "book_title": {
                                                    "type": "string"
                                                },
                                                "book_poster": {
                                                    "type": "string"
                                                },
                                                "exhibition_id": {
                                                    "type": "integer"
                                                },
                                                "create_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/me/books": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "유저 도록 구매 (임시)",
                "operationId": "f29c322d0c9b825ae5c7d4f97c582893",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "book_id": {
                                        "type": "integer"
                                    },
                                    "payment_method": {
                                        "type": "string",
                                        "example": "card"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "구매 성공"
                    },
                    "400": {
                        "description": "입력 오류"
                    },
                    "500": {
                        "description": "서버 오류"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/users/me/books/{id}": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "유저 도록 구매 삭제",
                "operationId": "e5e6f221d10092e0e86932c2a63735a4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "삭제 성공"
                    },
                    "404": {
                        "description": "데이터 없음 또는 삭제 실패"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/chats": {
            "post": {
                "tags": [
                    "Chat"
                ],
                "summary": "챗봇 질문 입력 (하이브리드 모드)",
                "operationId": "4badc608de578eeb074eb678dbab9ec5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "text": {
                                        "type": "string",
                                        "example": "이번주에 서울에서 전시 1개 추천해줘"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "챗봇 응답",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exhibitions": {
            "get": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 목록 조회",
                "operationId": "169f9346bbdef82170c9c2e15c40d29d",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "description": "scheduled/exhibited/ended",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "region",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "latest/ending/popular",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "liked_only",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gallery_name",
                        "in": "query",
                        "description": "갤러리명 검색 (쉼표로 구분하여 여러 개 검색 가능)",
                        "schema": {
                            "type": "string",
                            "example": "서울 현대 미술관,예술의전당"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "전시회 목록 조회 성공"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 등록 (multipart 또는 JSON)",
                "operationId": "6200a8781e1667091dd7dcca18f1f133",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "gallery_id": {
                                        "type": "integer",
                                        "example": 123
                                    },
                                    "exhibition_title": {
                                        "type": "string"
                                    },
                                    "exhibition_category": {
                                        "type": "string"
                                    },
                                    "exhibition_start_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "exhibition_end_date": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "exhibition_start_time": {
                                        "type": "string",
                                        "format": "time"
                                    },
                                    "exhibition_end_time": {
                                        "type": "string",
                                        "format": "time"
                                    },
                                    "exhibition_location": {
                                        "type": "string"
                                    },
                                    "exhibition_price": {
                                        "type": "integer"
                                    },
                                    "exhibition_tag": {
                                        "type": "string"
                                    },
                                    "exhibition_status": {
                                        "type": "string",
                                        "enum": [
                                            "scheduled",
                                            "exhibited",
                                            "ended"
                                        ]
                                    },
                                    "exhibition_phone": {
                                        "type": "string"
                                    },
                                    "exhibition_homepage": {
                                        "type": "string"
                                    },
                                    "exhibition_poster_file": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "exhibition_poster_url": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "등록 성공"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exhibitions/{id}": {
            "get": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 상세 조회",
                "operationId": "0138500389c02641843a2eb219122d24",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "전시회 상세 조회 성공"
                    },
                    "404": {
                        "description": "전시회 없음"
                    }
                }
            },
            "post": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "[PATCH with method spoofing] 전시회 일부 수정 (multipart 또는 JSON)",
                "description": "[매우중요] multipart/form-data로 파일과 함께 요청 시, 실제로는 POST 메서드를 사용하고 본문에 `_method=PATCH` 필드를 포함해야 합니다. (Method Spoofing)",
                "operationId": "fde9bcacefbe922c4e53572aad351278",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "수정할 필드만 포함하여 전송합니다. (부분 업데이트)",
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "_method"
                                ],
                                "properties": {
                                    "_method": {
                                        "description": "Method Spoofing을 위해 'PATCH' 값을 전송해야 합니다.",
                                        "type": "string",
                                        "enum": [
                                            "PATCH"
                                        ],
                                        "example": "PATCH"
                                    },
                                    "exhibition_title": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_category": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "exhibition_end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "exhibition_start_time": {
                                        "type": "string",
                                        "format": "time",
                                        "nullable": true
                                    },
                                    "exhibition_end_time": {
                                        "type": "string",
                                        "format": "time",
                                        "nullable": true
                                    },
                                    "exhibition_location": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_price": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "exhibition_tag": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_status": {
                                        "type": "string",
                                        "enum": [
                                            "scheduled",
                                            "exhibited",
                                            "ended"
                                        ],
                                        "nullable": true
                                    },
                                    "exhibition_phone": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_homepage": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_poster_file": {
                                        "description": "새로 업로드할 포스터 파일",
                                        "type": "string",
                                        "format": "binary",
                                        "nullable": true
                                    },
                                    "exhibition_poster_url": {
                                        "description": "포스터 URL을 직접 지정할 때",
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "exhibition_title": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_category": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_start_date": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "exhibition_end_date": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "exhibition_start_time": {
                                        "type": "string",
                                        "format": "time",
                                        "nullable": true
                                    },
                                    "exhibition_end_time": {
                                        "type": "string",
                                        "format": "time",
                                        "nullable": true
                                    },
                                    "exhibition_location": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_price": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "exhibition_tag": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_status": {
                                        "type": "string",
                                        "enum": [
                                            "scheduled",
                                            "exhibited",
                                            "ended"
                                        ],
                                        "nullable": true
                                    },
                                    "exhibition_phone": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_homepage": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "exhibition_poster_url": {
                                        "description": "포스터 URL을 직접 지정할 때",
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "수정 성공"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "404": {
                        "description": "전시회 없음"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 삭제",
                "operationId": "0942ce95151d9395e6ca4a61df5f2934",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "삭제 성공"
                    },
                    "404": {
                        "description": "전시회 없음 또는 삭제 실패"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exhibitions/{id}/arts": {
            "post": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 작품 등록",
                "operationId": "a46b055defa7a2a09eb6b47836f5c726",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "전시회 ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "art_id",
                                    "display_order"
                                ],
                                "properties": {
                                    "art_id": {
                                        "type": "integer"
                                    },
                                    "display_order": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "등록 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Artworks registered successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "exhibition_id": {
                                                    "type": "integer"
                                                },
                                                "art_id": {
                                                    "type": "integer"
                                                },
                                                "display_order": {
                                                    "type": "integer"
                                                },
                                                "create_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "update_dtm": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "권한이 없습니다."
                    },
                    "500": {
                        "description": "등록 실패"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exhibitions/{id}/artists": {
            "post": {
                "tags": [
                    "Exhibition"
                ],
                "summary": "전시회 작가 등록",
                "operationId": "70dda7276f19b38db3c9ae34637709b0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "전시회 ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "artist_ids"
                                ],
                                "properties": {
                                    "artist_ids": {
                                        "type": "array",
                                        "items": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "등록 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Artist registered successfully"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer"
                                                    },
                                                    "exhibition_id": {
                                                        "type": "integer"
                                                    },
                                                    "artist_id": {
                                                        "type": "integer"
                                                    },
                                                    "create_dtm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "update_dtm": {
                                                        "type": "string",
                                                        "format": "date-time"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "잘못된 요청"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "권한이 없습니다."
                    },
                    "500": {
                        "description": "등록 실패"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/galleries": {
            "get": {
                "tags": [
                    "Gallery"
                ],
                "summary": "갤러리 목록 조회",
                "operationId": "88a0bdabcfc295c26157b15e704733e4",
                "parameters": [
                    {
                        "name": "regions",
                        "in": "query",
                        "description": "여러개이면 콤마로 구분",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "미술관/박물관/갤러리/복합문화공간/대안공간",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "latitude",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "longitude",
                        "in": "query",
                        "schema": {
                            "type": "number",
                            "format": "float"
                        }
                    },
                    {
                        "name": "distance",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "gallery_name 검색",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "liked_only",
                        "in": "query",
                        "description": "내가 좋아요한 갤러리만 (true/false)",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "해당 userId가 소유한 갤러리만 조회 (admin 또는 본인만)",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "조회 성공"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Gallery"
                ],
                "summary": "갤러리 생성 (multipart 또는 JSON)",
                "operationId": "d8d6100b9b82f4c5aaed6ffb3153cd7a",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "gallery_name": {
                                        "type": "string"
                                    },
                                    "gallery_eng_name": {
                                        "type": "string"
                                    },
                                    "gallery_address": {
                                        "type": "string"
                                    },
                                    "gallery_start_time": {
                                        "type": "string",
                                        "example": "10:00"
                                    },
                                    "gallery_end_time": {
                                        "type": "string",
                                        "example": "19:00"
                                    },
                                    "gallery_closed_day": {
                                        "type": "string"
                                    },
                                    "gallery_category": {
                                        "type": "string",
                                        "example": "미술관"
                                    },
                                    "gallery_description": {
                                        "type": "string"
                                    },
                                    "gallery_latitude": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "gallery_longitude": {
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "gallery_phone": {
                                        "type": "string"
                                    },
                                    "gallery_email": {
                                        "type": "string"
                                    },
                                    "gallery_homepage": {
                                        "type": "string"
                                    },
                                    "gallery_sns": {
                                        "description": "JSON 배열 문자열",
                                        "type": "string"
                                    },
                                    "gallery_image_file": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "gallery_image_url": {
                                        "description": "이미지 URL을 그대로 저장하고 싶을 때",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "갤러리 생성 완료"
                    }
                }
            }
        },
        "/api/galleries/{id}": {
            "get": {
                "tags": [
                    "Gallery"
                ],
                "summary": "갤러리 상세 조회",
                "operationId": "95dc8045bc1a824172cadb32a21660a8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "상세 조회 성공"
                    },
                    "404": {
                        "description": "갤러리 없음"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Gallery"
                ],
                "summary": "[PATCH with method spoofing] 갤러리 일부 수정 (multipart 또는 JSON)",
                "description": "[매우중요] multipart/form-data로 파일과 함께 요청 시, 실제로는 POST 메서드를 사용하고 본문에 `_method=PATCH` 필드를 포함해야 합니다. (Method Spoofing)",
                "operationId": "93389add9029714ba6e948a68f03f8de",
                "parameters": [
                    {
                        "name": "id",
[...]
